[submodule "themes/bleak"]
	path = themes/bleak
	url = https://github.com/Zenithar/hugo-theme-bleak.git
[submodule "public"]
	path = public
	url = https://github.com/chrismade/chrismade.github.io.git
	branch = master
